body {
    margin: 0px;
    padding: 0px; 
    background-color: antiquewhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    margin:0;
}
header {

    background-color: #468189;
    display: flex;
    height: 50px; 
    padding: 15px;
    padding-left: 50px;
}

ul#nav{
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: right;
    margin-top: 20px;
}
ul#nav li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inline;
    margin-right: 50px;
    cursor: pointer;
}
ul#nav li a{
    text-decoration: none;
    color: #fff;
}
.logo{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}
h1 {
    font-size: xx-large;
    font-weight: bolder;
    font: black;
    line-height: 0px;
  

} 
h2 {
    flex: 50%;
    padding: 0 4px;
    height:40px;
    width: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: middle;
}

.main-container{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.left-side {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;

    
}
.right-side {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 0 4px;
    height: 90vh;
    width: 50%;
    background-color: antiquewhite;

}
.gallery {
    height: 160px;
    width: 160px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    cursor: pointer;
}
.img-cont{
    
    background-size: cover;
    height: 100%;
    width: 100%;
}
.add-new{
    text-align: center;
    background-color: #ccc;
}

.add-new span{
    display: block;
    font-size: 3em;
    margin-top: 40px;
}
.column {
    background-color: white;
    border-color: black;
    align-self: center;
    padding: 0 4px;
    margin-bottom: 5px;
}
.pic1 {
    /* background-color: white;
    border-color: black;
    align-self: center;
    padding: 0 4px;
    margin-bottom: 5px; */
}
.pic2 {
    background-color: white;
    border-color: black;
    align-self: center;
    padding: 0 4px;
    margin-bottom: 5px;
}
/* .column {
    background-color: white;
    border-color: black;
    align-self: center;
}
.pic4 {
    background-color: white;
    border-color: black;
    align-self: center;
}
.pic5 {
    background-color: white;
    border-color: black;
    align-self: center;
} */



form {
    flex: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    outline-color: black;
    border-color: black;
    vertical-align: middle;

}
form input{
    width: 300px;
    border: 1px #ccc solid;
    padding: 5px;
    border-radius: 5px;
}
form label{
    margin-top: 10px;
    display: block;
}
#submit {
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 10px;
    vertical-align: middle;
}
footer {
    height: 50px;
    width: auto;
    background-color: aliceblue;
    border-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-weight: lighter;
    font: black;
    display:flex;
    flex: flex-end;

}
.topper {
    display: inline-flex;
    justify-content: flex-end;
    
    
}
#submit {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #468189;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 9px aliceblue;
}
#submit:hover {background-color: #9DBEBB;}
#submit:active {
    background-color: #9DBEBB;
    box-shadow: 0 5px #468189;
    transform: translatelY(4px);
}





.trip-main { 
    background: url("https://www.itl.cat/pngfile/big/212-2123796_10-best-world-map-laptop-wallpaper-full-hd.jpg") no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    display: none;
    position: relative;
    opacity: 75%;
    
    
    }
.trip-container{
    width: 80%;
    margin: 0 auto;
    position: relative;

    min-height: 600px;
}
 .tripbox{
     position: absolute;
     height: 100px;
     width: 100px;
     background-color: #fff;
     box-shadow: 3px 3px 6px rgb(0 0 0 / 30%);
 } 
    .buttons {
        height: 20px;
        width: 60px;
        border-radius: 20px;
        background-color: #9DBEBB;
        font-display: white;
    }
    .boxone {
        background-color: white;
        height:100px;
        width: 100px;
        justify-content: left;
    }
    
    #place{
        height: 250px;
        width: 230px;
        left: 10px;
        justify-content: center;
        margin-top: 180px;
        margin-left: 180px;

    }

    #journal{
        height: 285px;
        width: 275px;
        right: 10px;
        justify-content: center;
        margin-top: 150px;
        margin-right: 90px;
        padding: 15px;
        color: #333;
    }
    #journal p{
        margin-top: 10px;
    }

    #journal h3{
        margin-bottom: 0;
        color: #468189;
    }

    #journal span{
        font-size: 12px;
        color: #888;
    }

    .trip-container #travel_dates{
        height: 45px;
        width: 185px;
        bottom: 30px;
        left: 250px;
        padding: 15px;
    }

    #trip-image{
        bottom: 50px;
        left: 42%;
        height: 340px;
        width: 250px;
    }
    #second {
        bottom: 50px;
        left: 69%;
        height: 270px;
        width: 200px;
        background: lightgrey;
        background-size: cover;
        justify-content: center;
        padding: 10px;
        margin: 15px;
    }

    #review{
        height: 80px;
        width: 300px;
        top: 20%;
        left: 50%
    }
    #deleteBtn {
        display: inline-block;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #468189;
        background-color: aliceblue;
        border-radius: 5px;
        box-shadow: 0 9px aliceblue;
    }
    #deleteBtn:hover {background-color: #9DBEBB;}
    #deleteBtn:active {
        background-color: #9DBEBB;
        box-shadow: 0 5px #468189;
        transform: translatelY(4px);
    }